.caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: normal;
}

.caption-title {
  width: 80%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}

.caption-description {
  width: 80%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0.75rem;
}

.caption-button {
  margin-top: 2.5rem;
}

.caption-button a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  border: 1px solid #fff;
}

.caption-button a:hover {
  background-color: #fff;
  color: #333;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  // width: 3rem;
  // background-size: 3rem;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
      padding: 12px !important;
}

.image-gallery-left-nav {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226rem%22%20height%3D%226rem%22%20viewBox%3D%220%200%201000%201000%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M723.1%2C990l43.3-43.3L320.2%2C500L766.3%2C53.3L723.1%2C10L233.7%2C500L723.1%2C990z%22%2F%3E%3C%2Fsvg%3E");
}

.image-gallery-right-nav {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226rem%22%20height%3D%226rem%22%20viewBox%3D%220%200%201000%201000%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M276.9%2C10l-43.3%2C43.3L679.8%2C500L233.7%2C946.7l43.3%2C43.3l489.4-490L276.9%2C10z%22%2F%3E%3C%2Fsvg%3E");
}

.image-gallery-bullets .image-gallery-bullet {
  box-shadow: none;
}
.center{
    text-align: center
}

/*
Mobile
*/
@media screen and (max-width: 769px) {
  .image-gallery-left-nav, .image-gallery-right-nav {
    padding: 30px 15px;
    background-size: 16px;
  }


  .caption-title {
    font-size: 1.2rem;
  }

  .caption-description {
    font-size: 0.95rem;
    margin-top: 0.5rem;
  }

  .caption-button {
    margin-top: 1.5rem;
  }

  .caption-button a {
    font-size: 0.75rem;
    padding: 0.25rem 2rem;
  }
}
@media screen and (max-width: 425px) {
  .image-gallery-left-nav, .image-gallery-right-nav {
  display: none;
  }
}
.image-gallery-thumbnail.active
{
  border: 1px solid #636363 !important;
}
.ril__navButtons
{
  background-position: 10px !important;
}
.ril__navButtons
{
      padding: 20px 17px !important;
}

/* Home Page Fast UI changes*/
.homeHeadingText {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.homeFinderSearchBtn {
    margin-bottom: 10px;
    background: #FF823C;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
}

.homeDOD{

  margin: 0px 0 0px 0;
}

.homeDOD-whybuyfromUs-wrapper{

      width: 95%;
}

.homeBestPicks, .homeDOD {
    text-align: center;
}

.homeBestPickItem, .homeDODItem {
    display: inline-block;
    margin: 7px;
}

.homeBestPickItemImg, .homeDODItemImg {
    box-shadow: 2px 2px #c1c1c1;
}

.divider1 {
    clear: both;
    display: block;
    height: 2px;
    margin: 10px 0;
    background: #f60;
    text-indent: -999em;
    overflow: hidden;
}
.homeStripsHeading{

  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;

}

.lookbook-prev-edit-block-wrapper {
    margin-top: 10px;

}

.lookbook-prev-edit-block-wrapper .prev-edit-block {
    width: 32%;
    margin: 9px;
    margin-bottom: 20px;

}

.lookbook-prev-edit-block-wrapper .prev-edit-block-first {
    margin-left: 0;
}

.lookbook-prev-edit-block-wrapper .prev-edit-block-last {
    margin-right: 0;
}

.wedding-page-wrapper {
    position: relative;
    margin-top: 10px;
}
.wedding-page-wrapper-2 {
    width: 49%;
    float: left;
    margin: 5px;
}

.wedding-page-wrapper-product-block {
    width: 32%;
    float: left;
}

.wedding-page-wrapper-product-block-2 {
    margin-right: 19px;
    margin-left: 19px;
}

.homeHeadingText {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.homeBestPickItem, .homeDODItem {
    display: inline-block;
    margin: 7px;
}

.homeBestPickItemImg, .homeDODItemImg {
    box-shadow: 2px 2px #c1c1c1;
}

.homeFinderSearchBtn {
    margin-bottom: 10px;
    background: #FF823C;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
}

.homeBestPicks, .homeDOD {
    text-align: center;
}

.valuePropItem {
    background: #fff5ee;
    padding: 5px 0px;
    box-shadow: 2px 2px #c1c1c1;
    display: inline-table;
}

.valuePropHeading {
    border-bottom: 2px solid black;
    padding: 5px 0px;
}

.valuePropDesc {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    height: 62px;
}

.valuePropDesc li {
    margin-left: 15px;
}

.valuePropHeadingText {
    margin: 5px;
    font-weight: bold;
    vertical-align: top;
}



.freeShippingIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -5px -471px;
    width: 36px;
    height: 19px;
}

.return14DaysIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -62px -470px;
    width: 24px;
    height: 24px;
}

.securePayIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -63px -508px;
    width: 20px;
    height: 24px;
}

.freeBonusIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -9px -504px;
    width: 24px;
    height: 24px;
}

.manufacturerIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -62px -542px;
    width: 24px;
    height: 24px;
}

.goodPriceIcon {
    // background: url('/skin/frontend/default/theme202/images/sprites.png?v=81') no-repeat -10px -545px;
    width: 26px;
    height: 23px;
}

.valuePropItem {
    background: #fff5ee;
    padding: 5px 0px;
    box-shadow: 2px 2px #c1c1c1;
    display: inline-table;
}

.valuePropHeading {
    border-bottom: 2px solid black;
    padding: 5px 0px;
}

.valuePropDesc {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    height: 62px;
}

.valuePropDesc li {
    margin-left: 15px;
}

.valuePropHeadingText {
    margin: 5px;
    font-weight: bold;
    vertical-align: top;
}

.valueProportionIcons {
    display: inline-block;
}

.homepage_block1, .homepage_block2, .homepage_block3 {
    width: 33.33%;
    background-color: white;
    margin: 10px 2px;
    padding: 10px 0px 0px 10px;
    border: 1px solid #F60;
    border-radius: 4px;
}

.homepage_block_row {
    display: flex;
}

.homepage_block_header {
    font-weight: bold;
    color: #ff6600;
    text-align: center;
}

.line_space {
    margin-bottom: 10px;
}

.homepage_block_header {
    font-weight: bold;
    color: #ff6600;
    text-align: center;
}
