.section-checkout {
  background-color: #f5f5f5;
}

.columns-checkout {
  flex-direction: row-reverse;
}

.checkout-form {
  margin: 0;
  padding: 0;
}

.checkout-button {
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
}

.checkout-button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.checkout-button-wrap {
  text-align: center;
  margin-top: 30px;
}

.checkout-field {
  margin-bottom: 14px;
}

.checkout-field input[type="text"],
.checkout-field input[type="email"],
.checkout-field input[type="tel"],
.checkout-field textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 12px 16px;
}

.checkout-field input[type="text"]:focus,
.checkout-field input[type="email"]:focus,
.checkout-field input[type="tel"]:focus,
.checkout-field textarea:focus {
  outline: none;
  border: 1px solid #a1a1a1;
}

.checkout-field input[type="text"].invalid,
.checkout-field input[type="email"].invalid,
.checkout-field input[type="tel"].invalid,
.checkout-field textarea.invalid {
  border: 1px solid #e96161;
  background-color: rgba(233, 97, 97, 0.05);
}

.checkout-field label {
  font-size: 9pt;
  font-weight: normal;
  color: #747679;
  margin-bottom: .5em;
  display: block;
}

.checkout-field .error {
  color: #e96161;
  padding-left: 10px;
  font-weight: 500;
}

.checkout-field-preview {
  display: flex;
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
}
.checkout-field-preview .name {
  width: 50%;
  color: #747679;
  text-align: right;
  padding-right: 10px;
}
.checkout-field-preview .value {
  width: 50%;
  color: #000;
}

.checkout-form h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.checkout-form h1 span {
  color: #747679;
  margin-right: 0.5rem;
}

.checkout-form h2 {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 16px;
}

.shipping-methods, .payment-methods {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 14px;
}

.shipping-method, .payment-method {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 0;
}

.shipping-method div, .payment-method div {
  flex-grow: 2;
}

.shipping-method input[type="radio"], .payment-method input[type="radio"] {
  margin-right: 16px;
  min-width: 20px;
}

.shipping-method.active, .payment-method.active, .shipping-method:hover, .payment-method:hover {
  background-color: #f9f9f9;
}

.shipping-method-description, .payment-method-description {
  font-size: 12px;
  color: #747679;
}

.payment-method:last-child, .shipping-method:last-child {
  border-bottom: none;
}

.payment-method-name {

}

.shipping-method-name {

}

.shipping-method-rate {
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 10px;
}

.payment-method-logo {

}

.checkout-box, .checkout-step {
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
}



.checkout-box hr.separator {
  height: 2px;
  background-color: #ebebed;
}

.checkout-box .product-image {
  max-width: 80px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.checkout-box .price {
  font-size: 0.9rem;
}

.checkout-box .total-text {
  font-weight: 500;
}

.checkout-box .total-price {
  text-align: right;
  font-weight: 500;
  font-size: 1.25rem;
}

.checkout-box .qty {
  align-items: center;
  margin: 5px 0;
  display: flex;
}

.checkout-box .qty span:first-of-type {
  margin-right: 10px;
}

.checkout-step {
  margin-bottom: 30px;
}

.billing-as-shipping {
  margin: 10px 0;
  cursor: pointer;
}

.billing-as-shipping label {
  padding-left: 10px;
}

.checkout-success-details {}

.checkout-success-title {
  text-align: center;
}

.checkout-success-title img {
  width: 60px;
  padding-bottom: 20px;
}

.checkout-success-totals {}
.checkout-success-totals div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.checkout-success-row {
  margin-bottom: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
}

.checkout-success-row span {
  color: #999;
}

.checkout-success-details .shipping-field {
  font-size: 90%;
  margin-top: 4px;
}

.checkout-success-details .shipping-field label {
  color: #747679;
}

/*
Mobile
*/
@media screen and (max-width: 768px) {
  .section-checkout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .columns-checkout {
    padding: 0;
    margin: 0;
  }

  .checkout-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .checkout-box, .checkout-step {
    // border-radius: 0px;
    // box-shadow: none;
  }

  .checkout-box .summary-block {
    margin: 0 -20px 0 -20px;
    // border-radius: 0;
  }

  .checkout-success-row {
    font-size: 0.75rem;
  }

  .section-checkout h1 {
    font-size: 1.5em;
  }

  .checkout-button {
    width: 100%;
  }
}

/*
StripeElement
*/
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.save-for-later-button
{
  margin: 0 !important;
}

// for save for later
.cart-buttons {
    color: #666;
    text-align: center;
}
.new-cart-save-for-later
{
  width: 45%;
  display: inline-block;
}
.new-cart-remove
{
  width: 45%;
  display: inline-block;
  margin-left:10%;
}
.new-cart-save-for-later, .new-cart-remove {
    padding: 5px;
    border: 1px solid #666 !important;
    border-radius: 3px;
    cursor: pointer;
}

.movetocart {
  color: #f60;
  cursor: pointer;
}
.movetocart, .gtmCartremove, .resp_cancel_cart_coupon span, .resp_apply_coupon span {
    text-transform: uppercase;
}
.gtmCartremove
{
    color: #666;
  cursor: pointer;
}
.saveLaterBtns
{
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
.save-for-later-counts
{
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 12px;
}
.mini-cart
{
  background-color: #f2f2f3 !important;
}
.cart-main-div
{
  background-color: #fff;
  padding: 5px;
  box-shadow: 2px 4px 1px 0 rgba(0,0,0,.2);
}
.save-for-later-mrp
{
  text-decoration: line-through;
  font-size:14px;
}
.save-for-later-offer-price
{
  font-size: 15px;
  color: #000;
}
.saveLaterBtns :last-child
{
  border: none;
}
.checkoutTitle
{
  color: #f6823c!important;
  margin-bottom: 1px !important;
}
.checkoutCounts
{

}
.checkoutSeparator
{
  background-color: #666 !important;
}
.checkout-box .summary-block {
  background-color: #fce2ba;
  // margin: 0 -30px 0 -30px;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.checkoutGrandTotalPrice
{
  color: black;
}
.checkoutLabelColor{
  color: #666!important;
}
.step-title
{
  cursor: pointer;
  background: #5289cb;

  // -webkit-box-shadow: 0 3px 3px 1px #ccc;
  // box-shadow: 0 3px 3px 1px #ccc;
  padding: 9px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.not-log-in-checkout-label
{
    color: #fff;
}
.newPadding
{
  padding: 0px !important;
}
.checkoutFormContactDetailsPadding
{
  padding: 10px 30px 30px 30px;
}
.input-box
{
  color: #000;
  padding: 10px 30px;
  font-size: 15px;
}
.variation-checkout span{
  color: grey;font-size: 90%;
}
.checkoutFormContactDetailsPadding .checkout-field
{
  // margin-bottom: 0px !important;
}
.checkoutLoginBtn
{
  background-color: #f6823c!important;
  font-weight: bold;
  height: 45px;
}
.loginORDividerText {
    margin-left: 311px;
    position: absolute;
    margin-top: -17px;
    background: #fff;
    padding: 5px;
    color: rgb(154,154,154);
}
.loginORDivider {
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: rgb(154,154,154);
    color: rgb(154,154,154);
}
.tab-content-ruler {
    margin-top: 30px !important;
}
.checkoutGPlusSignIn {
    margin: 10px 0 5px 0;
}
.customGPlusSignIn {
    margin: 10px 0 20px 0;
    display: inline-block;
    background: white;
    color: #444;
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid #888;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-appearance: none;
}
span.googleicon {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) left center no-repeat;
    background-position: -74px -368px;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    float: left;
}
span.buttonText {
    display: inline-block;
    margin-top: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
.login-submit-div .facebookloginbutton {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.facebookloginbutton {
    background-color: #3b5998;
    width: 100%;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 0 none;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
    -webkit-appearance: none !important;
}
.fb-icon {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) left center no-repeat;
    display: block;
    background-position: -358px -254px;
    width: 40px;
    height: 40px;
    position: absolute;
}
.login-input-link-div {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.facebookloginbutton {
    padding: 10px !important;
}
.checkoutLogedUserDetails
{
  color: black;
  font-size: 19px;
}
// for payment methods


/// for checkout newPadding
//  for dtt

.sp-methods dt {
    width: 100%;
}
.checkout-payment-methods
{
  left: 0;
  position: relative;
  width: 100%;
  top: 0px;
  background-color: #fff;
}
.sp-methods .form-list
{
  width: inherit;
  padding-left: 0px;
}
#payment_form_cashondelivery, #payment_form_irdebit, #payment_form_ircredit, #payment_form_irpayment {
  padding: 3px;
}
@media screen and (max-width: 615px) and (min-width: 50px)
{
  /*
  .sp-methods dt {
      width: 100%;
  }
  .checkout-payment-methods
  {
    left: 0;
    position: relative;
    width: 100%;
    top: 0px;
    background-color: #fff;
  }
  .sp-methods .form-list
  {
    width: inherit;
    padding-left: 0px;
  }
  #payment_form_cashondelivery, #payment_form_irdebit, #payment_form_ircredit, #payment_form_irpayment {
    padding: 3px;
  }
  */
}
@media screen and (max-width: 992px) and (min-width: 616px)
{
  /*
  .sp-methods dt
  {
    width: 50%;
  }
  .checkout-payment-methods
  {
    width: 46%;
  }
  .sp-methods .form-list
  {
    padding-left: 10px;
    width: 100%;
   }
   .checkout-page-summary-block-mobile-tab
   {
    display: block;
   }
   */
}
@media screen and (min-width: 993px)
{
  /*
  .sp-methods dt
  {
    width: 38%;
  }
  .checkout-payment-methods
  {
    float: left;
    width: 44%;
    position: absolute;
    left: 32%;
  }
*/
}
.checkout-payment-methods
{
  float: left;
}


.sp-methods dt {
    height: 62px;
    margin: 2px 0px;
}
.checkout-page-radio {
    float: left;
    position: relative;
    cursor: pointer;
    background-color: #d9dfe9;
}
#p_method_cashondelivery, #p_method_ircredit, #p_method_irdebit, #p_method_irpayment, #no-method-selected, #p_method_irwallet, #p_method_irstorecredit {
    float: left;
    margin-left: 3px;
    margin-top: 25px;
}
input.radio {
    margin-right: 3px;
}
.checkoutPayIcons {
    margin-left: 5px;
    margin-top: 10px;
    float: left;
    display: inline-block;
}
.checkout-page-radio label {
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}
.payMethodsSel {
    color: #f60 !important;
}
.payMethodsLabel
{
  color: black;
}
.payMethodCashondelivery .payMethodsText {
    margin-left: 12px;
}
.payMethods {
  font-weight: bold;
  font-size: 13px;
}
.cardTypeFont{
  font-size: 12px;
}
.payMethodsText {
    padding-top: 15px;
}
.form-list li {
    margin: 0 0 15px;
}
.opc h3, .opc h4 {
    color: #626262;
}
.checkout-payment-methods
{
  font-size: 80%;
}
.price {
    white-space: nowrap !important;
    color: #f60;
    font-weight: bold;
}
td.CheckoutValue {
    color: #f46408;
    font-weight: bold;
    padding-left: 10px;
}
.CheckoutTitle {
    color: black;
}
.checkoutMethodTitle
{
  color: #626262;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 17px;
    text-align: left;
}
.sp-methods .form-list
{
  border: none;
}
.payment-form.sp-methods
{
  padding: 0px 10px;
  display: inline-block;
}
.cashondeliveryPayImage {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -130px -306px;
    width: 38px;
    height: 38px;
}
.checkoutPayIcons.cashondeliveryPayImage.sel {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -535px -994px;
    width: 38px;
    height: 38px;
}
.ircreditPayImage {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -67px -308px;
    width: 51px;
    height: 35px;
}
.checkoutPayIcons.ircreditPayImage.sel
{
  background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -425px -994px !important;
  width: 51px;
  height: 35px;
}
.irdebitPayImage {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat 0 -304px;
    width: 55px;
    height: 41px;
}
.checkoutPayIcons.irdebitPayImage.sel
{
  background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -361px -989px;
  width: 55px;
  height: 41px;
}
.irpaymentPayImage {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -178px -308px;
    width: 26px;
    height: 34px;
}
.checkoutPayIcons.irpaymentPayImage.sel
{
  background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -591px -998px;
    width: 26px;
    height: 34px;
}
.irwalletPayImage {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -306px -355px;
    width: 38px;
    height: 36px;
}
.checkoutPayIcons.irwalletPayImage.sel
{
  background: url(https://indiarush.com/skin/frontend/default/theme202/images/sprites.png?v=81) no-repeat -488px -992px;
    width: 38px;
    height: 36px;
}

// for credit cart
.checkout-address-radio
{
      border-color: rgb(255, 102, 0);
}
.checkout-card-list .checkout-address-radio .new-radio {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}
#payment_form_cashondelivery, #payment_form_irdebit, #payment_form_ircredit, #payment_form_irpayment {
    padding: 3px;
}
.input-box-new
{
  color: #000;
  font-size: 15px;
  padding: 0px;
}

.checkout-card-block.card-select
{
  height: auto;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.checkout-card-title
{
  font-weight: bold;
  padding-top: 15px;
  padding-right: 10px;
  float: left;
  margin-bottom: 5px;
  text-align: left;
  width: 116px;
}
.checkout-card-block.card-name
{
      margin-bottom: 5px;
      height: auto;
      display: inline-block;
      width: 100%;
}
.checkout-card-container .card-date
{
  float: left;
  display: block;
  margin-bottom: 5px;
  width: 100%;

}
.checkout-card-select
{
  margin-bottom: 5px;
  float: left;
  width: 182px;
}
#creditCards
{
  height: 45px;
width: 99%;
}
.checkout-card-block.card-num
{
  margin-bottom: 5px;
  height: auto;
    display: inline-block;
    width: 100%;
}
.checkout-card-input input {
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}
.checkout-card-input
{
  margin-bottom: 5px;
  float: left;
}
.checkout-card-block.card-cvv
{
    margin-bottom: 5px;
    height: auto;
    display: inline-block;
    width: 100%;
}
#checkout-step-payment
{
  width: 100%;
}
#checkout-step-payment select {
    height: 45px;
    width: 99%;
}
.checkout-card-block.card-cvv-text
{
  margin-bottom: 5px;
  height: auto;
    display: inline-block;
    width: 100%;
}
.checkoutExpireDate
{
  margin-right: 8px;
}
.checkoutExpireDateSelect
{
  padding-right: 7px;
}
.checkoutNewCard
{
  margin-top:15px
}
.checkoutNewCard label{
  float: left !important;
  margin-left: 5px;
}
.width100
{
  width: 100%;
}
.card-cvv-text .checkout-card-input
{
  color: #666;
  font-size: 12px;
}
.checkout-payment-methods
{
  display: none;
}
#payment_form_irpayment .checkout-address-radio {
  width: 136px;
  margin-right: 5px;
    padding: 10px 7px;
    display: inline-block;
}
.checkout-card-list .checkout-address-radio {
    border: 1px solid #d9dfe9;
    cursor: pointer;
}
.checkout-address-radio {
    background: #fff;
}
.checkout-card-list .checkout-address-radio input.radio {
    cursor: pointer;
}
.checkout-card-list .checkout-address-radio .radio {
    float: left;
    margin-left: 3px;
    margin-top: 12px;
}
input.radio {
    width: 13px;
    height: 13px;
}
#payment_form_irpayment .checkout-address-radio label {
    width: auto;
}
.checkout-card-list .checkout-address-radio label {
    cursor: pointer;
}
.checkout-address-radio label {
    float: right;
    left: 0px;
}
.checkout-address-radio label
{
  top: -1px;
  padding-bottom: 0px;
}
.sbi-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/sbi-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.icici-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/icici-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.hdfc-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/hdfc-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.axis-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/axis-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.pnb-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/pnb-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.yes-netbanking {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/netbankImages/yes-bank-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 40px;
    display: block;
}
.noBorder
{
  border: none !important
}
.paytm-wallet {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/walletImages/paytm-wallet-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    display: block;
}
.mobikwik-wallet {
    background: url(https://indiarush.com/skin/frontend/default/theme202/images/walletImages/mobikwik-wallet-payment-icon.jpg) left center no-repeat;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    display: block;
}
.checkout-address-radio {
    padding: 10px;
    background: #fff;
}
.paytmDiv label {
    width: 92%;
}
.mobikwikDiv label {
      width: 92%;
}
#irwallet {
    margin-top: 15px;
}
